.card{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  
  
  }
  
  
  .card-img-top{
      height:263px;
  }
  
.container-maindiv{
    padding-left: 200px;
    padding-top: 100px;
}  

.container-aboutdiv{
    padding-left: 200px;
    padding-top: 100px;
}  
/* .container-skills{
    padding-left: 200px;
    padding-top: 10px;
}  

.container-contactdiv{
    padding-left: 200px;
    padding-top: 10px;
}   */

.img{
    padding-left: 250px;
    width: 200px;
    height: 200px;
    
}

.container-aboutdiv{
    padding-left: 200px;
    padding-top: 100px;
    /* background-image: linear-gradient(to diagonally, purple,blue ,yellow); */
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    float: right;
    background: linear-gradient(to right, #fd746c 0%, #ff9068 100%);
    color: white;
    border-radius:20px;
}

.skillimg{
    width: 500px;
    height: 450px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  
.image{
width: 30%;
height: 60%;
position: absolute;
right: 100px;
bottom: 0;
}
.image img{
position: absolute;
height: 140%;
left: 40%;
transform: translate(-45%);
bottom: 300px;
transition: left 2s ease;
top: -200px;
}

.image:hover img{
left: 45%;
}

.icon a{
text-decoration: none;
color: #000;

}

.icon ion-icon{
margin-left: 7%;
color: #000;
margin-right: -60px;
font-size: 40px;
transition: .4s ease;
}

.icon ion-icon:hover{
color: rgb(59,174,209);
}

.icon{
    padding-left: 100px;
    padding-top: 1px;
}
