.card{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  
  
  }
  
  
  .card-img-top{
      height:263px;
  }
  
.container-maindiv{
    padding-left: 200px;
    padding-top: 100px;
}  

.container-aboutdiv{
    padding-left: 200px;
    padding-top: 100px;
}  
/* .container-skills{
    padding-left: 200px;
    padding-top: 10px;
}  

.container-contactdiv{
    padding-left: 200px;
    padding-top: 10px;
}   */

.img{
    padding-left: 250px;
    width: 200px;
    height: 200px;
    
}

.container-aboutdiv{
    padding-left: 200px;
    padding-top: 100px;
    /* background-image: linear-gradient(to diagonally, purple,blue ,yellow); */
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    float: right;
    background: linear-gradient(to right, #fd746c 0%, #ff9068 100%);
    color: white;
    border-radius:20px;
}

.skillimg{
    width: 500px;
    height: 450px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  
.image{
width: 30%;
height: 60%;
position: absolute;
right: 100px;
bottom: 0;
}
.image img{
position: absolute;
height: 140%;
left: 40%;
transform: translate(-45%);
bottom: 300px;
transition: left 2s ease;
top: -200px;
}

.image:hover img{
left: 45%;
}

.icon a{
text-decoration: none;
color: #000;

}

.icon ion-icon{
margin-left: 7%;
color: #000;
margin-right: -60px;
font-size: 40px;
transition: .4s ease;
}

.icon ion-icon:hover{
color: rgb(59,174,209);
}

.icon{
    padding-left: 100px;
    padding-top: 0px;
}


.wrapper{
width: 40%;
height: 50%;
margin-top:10px;
min-width: 570px;
min-height: 570px;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
margin-top: 90px;
}
.container{
width: 100%;
padding: 30px 30px 50px;
background-color: white;
border-radius: 10px;
box-shadow: 0 20px 30px rgba(0,0,0,0.2);
} 
.container *{
font-family: “Poppins”,sans-serif;
color: black;
font-weight: 500;
}
h2{
margin-bottom: 50px;
letter-spacing: 2px;
text-align: center;
font-size: 33px;
font-weight: bold;
}
.details{
width: 100%;
display: flex;  
justify-content: space-between;
margin-bottom: 10px;
}
.bar{
position: relative;

border: 2px solid #0d96e0;

border-radius: 20px;

}
.bar div{
position: relative;
width: 0;
height: 9px;
border-radius: 10px;

}
.skills:not(:last-child){
margin-bottom: 30px;
}
#html-bar{
animation: html-fill 2s forwards;
background-color: red;
}
@keyframes html-fill{
100%{
    width: 90%;
}
}
#php-bar{
animation: php-fill 2s forwards;
background-color: blue;

}
@keyframes php-fill{
100%{
    width: 75%;
}
}
#js-bar{
animation: js-fill 2s forwards;
background-color: green;

}
@keyframes js-fill {
100%{
    width: 72%;
}
}
#java-bar{
animation: java-fill 2s forwards;
background-color: yellow;

}
@keyframes java-fill{
100%{
    width: 87%;
}
} 
#python-bar{
animation: python-fill 2s forwards;
background-color: orange;

}
@keyframes python-fill{
100%{
    width: 78%;
}
} 
#mysql-bar{
animation: mysql-fill 2s forwards;
background-color: cyan;

}
@keyframes mysql-fill{
100%{
    width: 90%;
}
} 
